[Desktop Entry]
Name=Open Vpn
GenericName=Open vpn
GenericName[de]=Connect to Openvpn
Exec="/etc/OpenVPyN/launch.sh" %u
Icon=/etc/OpenVPyN/icon.png
Terminal=true
Type=Application
StartupNotify=false
Categories=Development;

