[Desktop Entry]
Name=Open Vpn
GenericName=Open vpn
GenericName[de]=Connect to Openvpn
Exec=bash /etc/OpenVPyN/launch.sh
Icon=/etc/OpenVPyN/icon.png
Terminal=true
Type=Application
StartupNotify=false
Categories=Development;

